@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #213547;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Lock the root container */
}

/* iOS Safari specific */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .timeline-container {
    position: static;
    width: 100%;
    margin-bottom: 2rem;
  }

  .main-content {
    padding-left: 0;
  }
  /* Add this for your main app container */
  .app-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
